h2 {
  color: #fff;
  text-align: center;
  margin-top: 3em;
}

.cards {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.pagenumber {
  margin-top: 15px;
  text-align: center;
}
