.search {
  height: 40px;
  width: 500px;
  border-radius: 1.5em;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.search__input {
  width: inherit;
  height: inherit;
  border: none;
  outline: none;
  padding-left: 3.5em;
  border-radius: 1.5em;
  font-weight: 600;
  text-transform: capitalize;
}

.search:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.search__icon {
  height: 25px;
  width: auto;
  position: absolute;
  margin: 0px 10px;
}
